.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .whitelink {
    color:white;
    text-decoration:none;
    margin-left:5px; 
  }
  
  .spacer {
    width:100%; 
  }
  
  .whitelink1 {
    color:white;
    text-decoration:none;
    margin-left:5px;
    cursor: pointer; 
  }