
<table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    
    
      <ng-container matColumnDef="temperature" >
        <th mat-header-cell *matHeaderCellDef> temperature </th>
        <td mat-cell *matCellDef="let element"> the temperature is:    {{element.temperature}} {{element.image}} </td>
      </ng-container>
      
      <ng-container matColumnDef="humidity" >
        <th mat-header-cell *matHeaderCellDef> humidity</th>
        <td mat-cell *matCellDef="let element"> the humidity is:{{element.humidity}} </td>
      </ng-container>

    <ng-container matColumnDef="getData">
        <th mat-header-cell *matHeaderCellDef> Get Data </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'primary'
            (click)="getData()"
          >Get Data </button>  
          <button  mat-raised-button *ngIf="!predictResult"(click)="predict()"  color="primary">Predict</button>

          <button *ngIf="!!predictResult" mat-raised-button (click)="saveCity()"  color="primary">Save</button>
                  
        </td>
        <!-- <ng-container matColumnDef="getnew">
            <th mat-header-cell *matHeaderCellDef> Get  New Data </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button 
                mat-raised-button
                color = 'primary'
              >Get new Data </button>  
              </td>
        </ng-container> -->
        <ng-container matColumnDef="prediction" *ngif=!predictResult>
            <th mat-header-cell *matHeaderCellDef> predict </th>
            <td mat-cell *matCellDef="let element;let i = index"> d </td>
          </ng-container> 
      </ng-container>

      <ng-container matColumnDef="prediction" >
        <th mat-header-cell *matHeaderCellDef> Prediction for tomorrow rain</th>
        <td mat-cell *matCellDef="let element"> {{element.predi}}% of rain </td>
      </ng-container>

     

  
  <!-- Name Column 
  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef> info </th>
    <td mat-cell *matCellDef="let element"> d </td>
  </ng-container>
   
  <!-- Name Column 
  <ng-container matColumnDef="predict">
    <th mat-header-cell *matHeaderCellDef> predict </th>
    <td mat-cell *matCellDef="let element"> d </td>
  </ng-container> 
-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  